.container {
  width: 500px;
  height: 500px;
  background-color: #404040;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  margin-top: 2rem;
  width: 300px;
  height: 300px;
}
.items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  list-style-type: none;
}
